<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /shaktikit/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /shaktikit/index.html [L]
</IfModule>
